.empty
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    gap: 64px
    padding: 30px 0

.circle
    width: 100px
    height: 100px
    display: flex
    align-items: center
    justify-content: center
    background: #F2F6F4
    border-radius: 100%
    img
        width: 32px
        height: 32px

.list
    display: flex
    flex-direction: column
    gap: 16px
    width: 100%

.info
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    gap: 24px
    padding-top: 24px
    margin-top: 24px
    border-top: 1px solid #F4F4F4
    @media screen and ( max-width: 700px )
        grid-template-columns: 1fr

.block
    border-radius: 12px
    border: 1px solid #F4F4F4
    background: #FFF
    display: flex
    flex-direction: column
    gap: 16px
    padding: 24px

.icon
    border-radius: 100px
    background: #F2F6F4
    width: 48px
    height: 48px
    display: flex
    align-items: center
    justify-content: center
    svg
        width: 22px
        height: 22px

.title
    color: #1A1E26
    font-size: 16px
    font-weight: 400
    line-height: 150%

.text
    color: #717378
    font-size: 14px
    line-height: 150%
